<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<h5 class="mb-4">Listing Users</h5>
		<div class="col-xs-12 col-md-12 mb-4">
			<a href="/users/new" class="btn btn-success">Create</a>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>				
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Adriano</td>
					<td>adriano@email.com</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</html>