<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorate="~{layout}">
	<th:block layout:fragment="content">
		<h5 class="mb-4">Listing Users</h5>
		<div class="col-xs-12 col-md-12 mb-4">
			<a href="/users/new" class="btn btn-success">Create</a>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Last Name</th>
					<th>Email</th>				
					<th>Actions</th>				
				</tr>
			</thead>
			<tbody>
				<tr th:each="user :${list}">
					<td th:text="${user.name}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td>
						<form th:action="@{/users/{id}(id = ${user.id})}" th:method="delete">
							<button class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</html>