<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorate="~{layout}">
	<head th:replace="fragments :: head"></head>
	<th:block layout:fragment="content">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>				
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Adriano</td>
					<td>adriano@email.com</td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<footer th:replace="fragments :: footer"></footer>
</html>